<?xml version="1.0" encoding="UTF-8"?>
<settings version="2">
    <section id="connection">
        <category id="server" label="30001">
            <group id="server_settings">
                <setting id="server_url" type="string" label="30002" help="30003">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30002</heading>
                    </control>
                </setting>
                <setting id="api_key" type="string" label="30004" help="30005">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30004</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>
        </category>
    </section>

    <section id="display">
        <category id="display_settings" label="30010">
            <group id="image_settings">
                <setting id="thumbnail_size" type="string" label="30011" help="30012">
                    <level>1</level>
                    <default>preview</default>
                    <constraints>
                        <options>
                            <option label="30013">thumbnail</option>
                            <option label="30014">preview</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30011</heading>
                    </control>
                </setting>
                <setting id="slideshow_interval" type="integer" label="30015" help="30016">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>60</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30015</heading>
                        <formatlabel>30017</formatlabel>
                    </control>
                </setting>
                <setting id="items_per_page" type="integer" label="30018" help="30019">
                    <level>1</level>
                    <default>50</default>
                    <constraints>
                        <options>
                            <option label="25">25</option>
                            <option label="50">50</option>
                            <option label="100">100</option>
                            <option label="200">200</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30018</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>

    <section id="advanced">
        <category id="cache_settings" label="30020">
            <group id="cache_group">
                <setting id="clear_cache" type="action" label="30021" help="30022">
                    <level>0</level>
                    <default/>
                    <control type="button" format="action"/>
                    <data>RunScript(plugin.image.immich, clear_cache)</data>
                </setting>
            </group>
        </category>

        <category id="other_settings" label="30030">
            <group id="notifications_group">
                <setting id="show_heif_warning" type="boolean" label="30031" help="30032">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_loading_notifications" type="boolean" label="30033" help="30034">
                    <level>1</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
